<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=artist&direction=asc" class="dropdown-item">By Artist</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>          
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="formats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Formats
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?format=Single_7inch"  class="dropdown-item">7 inch single vinyl</a>
                <a href="{% url 'products' %}?format=Single_12inch" class="dropdown-item">12inch single vinyl</a>
                <a href="{% url 'products' %}?format=Vinyl_LP" class="dropdown-item">Album LP vinyl</a>
                <a href="{% url 'products' %}?format=CD" class="dropdown-item">CD</a>
                <a href="{% url 'products' %}?format=Vinyl_LP,Single_12inch,Single_7inch,CD" class="dropdown-item">All formats</a>
            </div>          
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genres-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0">
                <a href="{% url 'products' %}?genre=Jazz" class="dropdown-item">Jazz</a>
                <a href="{% url 'products' %}?genre=Jazz-Funk" class="dropdown-item">Jazz-Funk</a>
                <a href="{% url 'products' %}?genre=Funk" class="dropdown-item">Funk</a>
                <a href="{% url 'products' %}?genre=Soul" class="dropdown-item">Soul</a>
                <a href="{% url 'products' %}?genre=Jazz,Funk,Soul,Jazz-Funk" class="dropdown-item">All genres</a>
            </div>
            
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Specials
                </a>
                <div class="dropdown-menu border-0">
                    <a href="{% url 'products' %}?category=New_arrivals" class="dropdown-item">New arrivals</a>
                    <a href="{% url 'products' %}?category=Promotions" class="dropdown-item">Promotions</a>
                    <a href="{% url 'products' %}?category=Clearance" class="dropdown-item">Clearance</a>
                    <a href="{% url 'products' %}?category=New_arrivals,Promotions,Clearance" class="dropdown-item">All Specials</a>
                </div>          
        </li>
    </ul>
</div>