<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>          
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="formats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Formats
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">7inch-vinyl</a>
                <a href="#" class="dropdown-item">12inch-vinyl</a>
                <a href="#" class="dropdown-item">LP-vinyl</a>
                <a href="#" class="dropdown-item">All formats</a>
            </div>          
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genres-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0">
                <a href="#" class="dropdown-item">Jazz</a>
                <a href="#" class="dropdown-item">Funk</a>
                <a href="#" class="dropdown-item">Soul</a>
                <a href="#" class="dropdown-item">All genres</a>
            </div>
            
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Specials
                </a>
                <div class="dropdown-menu border-0">
                    <a href="#" class="dropdown-item">New arrivals</a>
                    <a href="#" class="dropdown-item">Promotions</a>
                    <a href="#" class="dropdown-item">Clearance</a>
                    <a href="#" class="dropdown-item">All Specials</a>
                </div>          
        </li>
    </ul>
</div>